{{ $ctx := . }}
{{ if reflect.IsMap . }}
  {{ if .context }}
    {{ $ctx = .context }}
  {{ end }}
{{ end }}
<!DOCTYPE html>
<html lang="{{ $ctx.Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if $ctx.IsHome }}{{ $ctx.Site.Title }}{{ else }}{{ if and (reflect.IsMap .) .customTitle }}{{ .customTitle }}{{ else }}{{ $ctx.Title }}{{ end }} - {{ $ctx.Site.Title }}{{ end }}</title>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    
    {{ $css := resources.Get "css/main.css" | minify }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
</head>
